<div class="container-fluid" ng-controller="userModule">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <a class="navbar-brand" href="#">Leave Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" >
                
            </ul>
          
        </div>
    </nav>
    <div class="row" style="margin-top: 20px">
        <div class="col"></div>
        <div class="col">
            <div class="row">
                <h2 style="padding-left: 15px;">Login</h2>
            </div>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Employee ID</label>
                    <input type="Text" ng-model="login.employeeId" class="form-control" id="exampleInputEmail1"  placeholder="Enter EmployeeID">
                  
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" ng-model="login.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" ng-click="loginEmployee()" class="btn btn-primary">Submit</button>
                <div> If you are not registred yet - 
                    <a href="#!/registration">Register</a> 
                 </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>