#accordianParent{

        margin: 2px;
    background-color: cadetblue;
    border: white;
    padding-left: 5px;
    font-family: monospace;
    font-size: x-large;
    color: white;
    font-weight: bolder;
}