<div ng-controller="getAllRecords">
<div class="jumbotron" ng-controller="getAllRecords">
  <h1 class="display-5">Hello, {{employeeData.employeeName}}</h1>
  <p class="lead"><h6>Employee ID: </h6>{{employeeData.employeeId}}</p>
  <p class="lead"><h6>Email</h6>{{employeeData.email}}</p>
  {{employeeData.leaves}}
  <p class="lead"><h6>Your are currently reporting to : </h6> {{employeeData.managerName}}</p>
  <hr class="my-4">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Leave Type</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='a in employeeDataapi.leaves'>
      <th scope="row">1</th>
      <td>{{a.startDate | date}}</td>
      <td>{{a.endDate | date}}</td>
      <td>{{a.leaveType}}</td>
      <td>{{a.count}}</td>
     
    </tr> 
  </tbody>
</table>
</div>
</div>	